// Colors
$white:#FAFAFA;
$gray: #f0f0f0;
$dark-gray: #3C3A3A;
$black: #202020;
$primary: #C00021;
$secondary: #002962;
$light-red: #FF002B;
$light-blue: #004E89;
$dark-red: #800016;
$dark-blue: #00043A;